@inherits LayoutComponentBase

<PageTitle>ASP_View</PageTitle>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            
            <AuthorizeView>
                <Authorized>
                    hello @context.User.Identity.Name 
                    <MudLink Href="/logout">Log out</MudLink>
                </Authorized>
                <NotAuthorized>
                    <MudLink Href="/login">Login</MudLink>
                </NotAuthorized>
            </AuthorizeView>
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
